body{
    margin: 0;
    font-family: sans-serif;
    padding: 0;
}

.navbar{position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #5B5561;
    padding: 0;
    margin: 0;
    
    .container{
        margin: 0 10em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo{
        font-weight: bold;
        color: white;
        font-size: 24px;
        margin: 0;
        padding: 0;
        
        span{
            color: #FAED25;
        }
        p{
            display: flex;
            margin: 0;
            padding: 0;
        }
    }
    li{
        list-style-type: none;
    }
    .links{
        ul{
            display: flex;
            li{
                margin-right: 3em;
            }
        }
        a{
            font-size: 10px;
            text-decoration: none;
            color: #9D8D8E;
        }
        a:hover{
            color: white;
        }
    }
}

.title{
    margin-top: 2em;
    margin-left: 8em;
    font-size: 20px;
    margin-bottom: 0;
}
.date{
    margin-top: -1.5em;
    margin-left:16em ;
    margin-bottom: 4em;
    font-size: 10px;
    color: grey;
}

.lyrics-section{
    justify-content: center;
    display: flex;
    .container{
    text-align: center;
    font-size: 13px;
    letter-spacing: 0.05em;
    line-height: 1.7em;
    margin-bottom: 2em;
    }   
}

.youtube-video{
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.bottom-navbar{
    background-color: #F5F5F7;
    padding: .5em 13em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .copyright{
        color: #9D8D8E;
        display: flex;
        font-size: 10px;

        a{
            text-decoration: none;
            
            color: rgb(73, 73, 73);
        }
        a:hover{
            color: #9D8D8E;
        }
        span{
            margin: 0px 5px;
        }
        .privacy{
            margin-left: 3em;
        }
    }

}

.philippines{ color: #9D8D8E;
    font-size: 10px;
}

